* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: 100%;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
}

/* here starts header */
header {
  background-color: #dddddd;
  max-width: 100%;
}

.header-head {
  display: flex;
  justify-content: space-between;
}

/* here starts header's left side */
.left-head {
  margin-left: 52px;
  margin-top: 48px;
}

.upper-left {
  display: flex;
  align-items: flex-end;
}

.roca {
  color: #1a1a1a;
  font-size: 40px;
}

.roca-dot {
  color: #0081ff;
  font-size: 41px;
}

.lower-left {
  transform: translateY(-10px);
}

.lower-left span {
  color: #b3b3b3;
  font-size: 13px;
}

/* here starts header's right side */
.right-head {
  position: relative;
  margin-top: 25px;
  margin-right: 82px;
}

.parent-span {
  color: #b3b3b3;
  font-size: 158.3px;
}

.child-span {
  color: #373737;
  font-size: 43.17px;
  position: absolute;
  transform: translate(-175px, 65px);
  width: 227px;
}

/* here starts header's body's left side */
.header-body {
  display: flex;
  justify-content: center;
  transform: translateY(-110px);
}

.left-hbody img {
  width: 550px;
}

/* here starts header's body's right side */
.right-hbody {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 20px;
}

.right-hbody span {
  color: #212121;
}

.first-line {
  font-size: 50px;
}

.second-line {
  font-size: 71px;
}

.third-line {
  font-size: 23.3px;
}

.logos {
  display: flex;
  align-items: center;
  margin-top: 50px;
}

.logos a {
  margin-right: 15px;
}

.logos img {
  width: 25px;
  border-radius: 50%;
}

.youtube-logo img {
  width: 30px;
  border-radius: 0%;
}

.smt-logo img {
  border-radius: 0%;
}

/* here starts header's footer */
.header-footer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-end;
  margin-right: 100px;
  margin-top: -4%;
  margin-bottom: 30px;
}

.hundred-perc {
  color: #e93656;
  font-size: 24px;
}

.satis-cl {
  color: #212121;
  font-size: 24px;
}

.progress {
  width: 340px;
  height: 6px;
  background-color: #e93656;
  margin-top: 20px;
  margin-bottom: 30px;
}

/* here starts upper section's left side */
.upper-section {
  display: flex;
  margin-top: 135px;
  justify-content: center;
  align-items: center;
}

.upper-section-left {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.upper-section-left h1 {
  color: #222222;
  font-size: 40px;
  margin-bottom: 6px;
}

.upper-section-left h4 {
  color: #daae19;
  font-size: 14px;
  margin-bottom: 33px;
}

.upper-section-left p {
  color: #555555;
  font-size: 15px;
  width: 334px;
  margin-bottom: 73px;
}

.upper-section-left button {
  background-color: #e93656;
  color: #ffffff;
  font-size: 15px;
  width: 152px;
  height: 50px;
  border: none;
  cursor: pointer;
}

/* here starts upper section's middle */
.upper-section-middle {
  margin-left: 65px;
  margin-right: 69px;
}

.upper-section-middle img {
  width: 430px;
}

/* here starts upper section right side's upper */
.section-flex {
  display: flex;
  flex-direction: row;
  margin-bottom: 23px;
}

.info-progress {
  margin-bottom: 23px;
}

.right-side-upper {
  margin-bottom: 78px;
}

.right-side-upper p {
  color: #555555;
  font-size: 20px;
}

.right-side-upper span {
  color: #e93656;
  font-size: 20px;
}

.section-progress {
  width: 300px;
  height: 9px;
  background-color: #f0f0f0;
}

.first-section-progress {
  width: 256px;
  height: 9px;
  background-color: #e93656;
}

.second-section-progress {
  background-color: #e93656;
  width: 191px;
  height: 9px;
}

.third-section-progress {
  width: 150px;
  height: 9px;
  background-color: #e93656;
}

.fourth-section-progress {
  width: 76px;
  height: 9px;
  background-color: #e93656;
}

/* here starts upper section right side's lower */
.right-side-lower {
  display: flex;
}

.right-side-lower div {
  width: 50px;
  height: 50px;
  background-color: #f9f9f9;
  margin-right: 5px;
}

.right-side-lower div:hover {
  background-color: #15263e;
}

/* here starts lower section */
.d-flex-section {
  display: flex;
  align-items: center;
  margin-right: 41px;
}

.lower-section {
  display: flex;
  background-color: #131a36;
  justify-content: center;
  align-items: center;
}

.img-div {
  width: 90px;
  height: 90px;
  border: 2px dashed white;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 29px;
}

.img-div img {
  mix-blend-mode: multiply;
}

.phone-div img {
  width: 29px;
  height: 29px;
}

.location-div img {
  width: 30px;
  height: 31px;
}

.email-div img {
  width: 34px;
  height: 28px;
}

.phone-div {
  margin-top: 60px;
  margin-bottom: 60px;
}

.info-div h3 {
  font-size: 25px;
  color: #ffffff;
}

.info-div h5 {
  font-size: 14px;
  color: #dfdfdf;
  margin-top: 15px;
}

.img-div:hover {
  background-color: #e93656;
  border: none;
  transition: 0.8s;
}
